
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Out & Equal Log-In</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{url_for('static', filename='signin.css')}}" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="{{url_for('static', filename='company_logo.png')}}" alt="" width="275" height="75">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <a href="/social" class="btn btn-lg btn-primary btn-block">Sign in</a>
      <a href = "/sign_up">
      <p class = "mt-5 mb-3"> Need an account? Sign up here </p>        
    </a>
      <p class="mt-5 mb-3 text-muted">&copy; TEAM 11 LETS GO</p>
    </form>
  </body>
  
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyA6Zs28roac5-QQtOyrMyi6SsOENEX1TKU",
    authDomain: "out-and-equal-teq11.firebaseapp.com",
    databaseURL: "https://out-and-equal-teq11.firebaseio.com",
    projectId: "out-and-equal-teq11",
    storageBucket: "out-and-equal-teq11.appspot.com",
    messagingSenderId: "833282994458"
  };
  firebase.initializeApp(config);
</script>
</html>
