<!DOCTYPE html>
<html>
<title>Erin Uritus</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

  <!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="/social" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"></i>Out & Equal</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a>
  <div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
      <a href="#" class="w3-bar-item w3-button">One new friend request</a>
      <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
      <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
    </div>
  </div>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="{{url_for('static', filename='Erin-Uritus.jpg')}}" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a>
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
</div>

<br>
<br>




<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="{{url_for('static', filename='Erin-Uritus.jpg')}}"style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Erin Uritus</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>CEO, Out & Equal Workplace Advocates </p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>Washington D.C. Metro Area</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-dark-grey"></i>erin@outandequal.org</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-dark-grey"></i>Skills</b></p>
          <p>Strategy</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:90%">90%</div>
          </div>
          <p>Organizational Development</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div>
          <p>Program Management</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-dark-grey" style="width:75%">75%</div>
          </div>
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-certificate fa-fw w3-margin-right w3-text-dark-grey"></i>Certifications</b></p>
          <p>Self ID Certificate | Out & Equal Workplace Advocates</p>
          <p>Sexual Orientation Certificate | Out & Equal Workplace Advocates</p>
           <p class="w3-large w3-text-theme"><b><i class="fa fa-shield fa-fw w3-margin-right w3-text-dark-grey"></i>Badges</b></p>
          <p>Building Bridges: LGBTQ Inclusion</p>
          <p>From Allies to Advocates</p>
          <p>Building Q-mmunity</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-white" style="height:24px;width:"></div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

      <div class="w3-container w3-card w3-white w3-margin-bottom"><br>
        <span class="w3-right w3-opacity">1 min</span>
        <h4>Erin's Activity</h4><br>
        <hr class="w3-clear">
        <p>Today 32 corporations and NGOS, who jointly employ 100,000 employees in Brazil, are using their voices to urge Brazil’s 2018 presidential candidates to recognize the importance of LGBTQ inclusion in the workplace</p>
          <div class="w3-row-padding" style="margin:0 -16px">
              <img class="w3-half" src="{{url_for('static', filename='NothingMoreNothingLess.jpg')}}" style="width:50%">
              <img class="w3-half" src="{{url_for('static', filename='NadaMaisNadaMenos.jpg')}}" style="width:50%"> 
        </div>
        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-thumbs-up"></i>  Like</button> 
        <button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i>  Comment</button> 
      </div>
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-dark-grey"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>CEO | Out & Equal Workplace Advocates</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2018 - <span class="w3-tag w3-dark-grey w3-round">Current</span></h6>
          <p>Provided CEO and staff with advice and support on strategic communications. Supported O&E’s efforts to expand the regional affiliates, and leveraged expertise in OD to develop and co-lead a 1 day pre-Summit training for ERG members.</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Director Communications | International Schools Services</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Nov 2011 - Dec 2018</h6>
          <p>ISS is a US based Non-Profit (501c3), and global leader in developing, managing, supplying and staffing high-quality international private schools all over the world. Oversaw ISS communications globally, managed communications strategy and execution, brand management, outreach, and managing online advertising and social media. Provided strategic on-call support for ISS managed schools in the areas of change management & communications. Supported global business development, with a specific focus in the Middle and Near East region, including Middle East managed schools and the Arabic World Language Initiative (WLI)</p>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-dark-grey"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>American University</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2003 - 2005</h6>
          <p>Masters, Organizational Development</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Georgetown University</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2002 - 2002</h6>
          <p>Master Certificate, Performance Management & Evaluation</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>The Johns Hopkins University - Cary Business School</b></h5>
          <h6 class="w3-text-dark-grey"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2000 - 2001</h6>
          <p>Masters Certificate, Change Management</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-dark-grey w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-facebook-official w3-hover-opacity"></i>
  <i class="fa fa-instagram w3-hover-opacity"></i>
  <i class="fa fa-snapchat w3-hover-opacity"></i>
  <i class="fa fa-pinterest-p w3-hover-opacity"></i>
  <i class="fa fa-twitter w3-hover-opacity"></i>
  <i class="fa fa-linkedin w3-hover-opacity"></i>
</footer>

</body>
</html>
